extends layout

block content
    div(style='margin-left:20px;')
        h1= title
        a(href=local_library_url) Local Library
        |, the website are using the following main parts:
        ul
            li Node.js is an open-source and cross-platform Javascript runtime enviroment.
            li Express web framework(backend) for Node.js.
            li Pug template engine.
            li MongoDB database.
