extends layout

block content
    div(style='margin-left:20px;text-align:20px; text-align: center;margin: auto;')
        div
            p Developer
            p Tel: 0937 199 499

        div
            img(src="/images/zalo.jpg" style='width:300px;height:300px;')
    div(style='margin-left:20px;margin-top:20px')
        dl
            dt 
                h2 Projects:
            dd(style='margin-left:20px;margin-top:20px')
                a(href=local_library_url) Local Library
                |, the website are using the following main parts:
                ul
                    li Node.js is an open-source and cross-platform Javascript runtime enviroment.
                    li Express web framework(backend) for Node.js.
                    li Pug template engine.
                    li MongoDB database.
                p #[strong Description:] TBD
